---
layout: default
---

<article id="presentation">

  <div style="display: none">
    <!-- Preload images -->
    <img src="images/pictures/Sky_books_2200.jpg" />
    <img src="images/pictures/Cinema_2400.jpg" />
    <img src="images/pictures/Pen_2400.jpg" />
    <img src="images/pictures/Chalkboard_quicksort_1600.jpg" />
  </div>


  <section id="cloud">
    <h1>Découvrir <em>Comprendre</em> Apprendre</h1>

    <img src="images/introduction.png" alt="Un nuage de logos connus autour du texte suivant" />

    <p class="myquote">
      Développeur pragmatique, je cherche sans cesse à nourrir ma curiosité. Livres, conférences, articles, ... tout est source d’apprentissage. <br/>
      Ce blog retrace mon parcours pour y arriver, en espérant transmettre ce goût d’apprendre qui s’est transformé en passion.
    </p>
    <span class="myname">Julien Sobczak</span>
  </section>


  <section id="read">
    <div id="imreadinit-introduction-picture" class="part-introduction-picture">
      <div style="background: url(images/pictures/Sky_books_2200.jpg) no-repeat center bottom; background-size: cover;"></div>
    </div>

    <div id="imreadinit-introduction-text" class="part-introduction-text">
      <nav class="latest-posts">
        <span>Derniers Posts</span>
        <ul>
        {% for post in site.categories.read limit:4 %}
            <li><a href="{{ post.url }}">{{ post.title }}</a></li>
        {% endfor %}
        </ul>
        <div class="more"><a href="{{ '/categories/read.html' | prepend: site.baseurl }}">+</a></div>
      </nav>
      <h3>I'm readin' I.T.</h3>
      <h4>Recommandations de livres</h4>
      <p>Déjà plusieurs années que je souffre d'une addiction qui me pousse à enchaîner les livres les uns après les autres.</p>
      <p>Ecrire un livre, c’est bien souvent y consacrer ses soirées et ses week-ends pendant toute une année. Comment ne pas être admiratif et reconnaissant devant un tel travail. Comment surtout ne pas profiter de l'expérience de l'auteur pour apprendre, tirer des enseignements ou tout simplement, voir les choses autrement.</p>
      <p>Je profiterai de cette partie pour partager mes lectures, et mettre en illumination ce qu’elles m'ont apporté.</p>
      <div class="clearfix"></div>
    </div>
  </section>

  <section id="watch">
    <div id="imwatchinit-introduction-picture" class="part-introduction-picture">
      <div style="background: url(images/pictures/Cinema_2400.jpg) no-repeat center bottom; background-size: cover;"></div>
    </div>

    <div id="imwatchinit-introduction-text" class="part-introduction-text">
      <nav class="latest-posts">
        <span>Derniers Posts</span>
        <ul>
          {% for post in site.categories.watch limit:4 %}
          <li><a href="{{ post.url }}">{{ post.title }}</a></li>
          {% endfor %}
        </ul>
        <div class="more"><a href="{{ '/categories/watch.html' | prepend: site.baseurl }}">+</a></div>
      </nav>
      <h3>I'm watchin' I.T.</h3>
      <h4>Conférences &amp; Talks</h4>
      <p>Les livres restent indéniablement mon support préféré pour découvrir de nouvelles choses. Cela ne m’empêche pas d’assister à des conférences ou de profiter de l’oeil attentif des nombreuses caméras qui enregistrent les événements majeurs du monde entier. Varier ainsi les méthodes d’apprentissage ou de découverte est selon moi idéal pour mieux retenir, tout en étant complémentaire. Les conférences nous donnent l’envie de faire quelque chose de nouveau, les livres nous donnent la confiance de les entreprendre et l’expérience nous permet d'en tirer les enseignements.</p>
      <p>Par ailleurs, les conférences sont souvent le moyen le plus efficace de s’éveiller à des technologies ou techniques émergentes. Les livres n’arrivent qu’une fois un intérêt notable constaté et ne sont donc pas très adaptés pour surfer sur la vague grandissante qui s’abattra sur notre quotidien demain.</p>
      <div class="clearfix"></div>
    </div>
  </section>


  <section id="tell">
    <div id="imtellinit-introduction-picture" class="part-introduction-picture">
      <div style="background: url(images/pictures/Pen_2400.jpg) no-repeat center bottom; background-size: cover;"></div>
    </div>

    <div id="imtellinit-introduction-text" class="part-introduction-text">
      <nav class="latest-posts">
        <span>Derniers Posts</span>
        <ul>
          {% for post in site.categories.tell limit:4 %}
          <li><a href="{{ post.url }}">{{ post.title }}</a></li>
          {% endfor %}
        </ul>
        <div class="more"><a href="{{ '/categories/tell.html' | prepend: site.baseurl }}">+</a></div>
      </nav>
      <h3>I'm tellin' I.T.</h3>
      <h4>Essais &amp; Discussions</h4>
      <p class="quote">"Whenever I want to really learn about something, I write a book about it" - Martin Fowler.</p>
      <p>Cette phrase m’a interpellé la première fois que je l'ai entendu. Cette partie sera l'occasion pour moi de m'essayer à cet exercise délicat sur des sujets qui me tiennent à coeur.</p>
      <div class="clearfix"></div>
    </div>
  </section>

  <section id="inspect">
    <div id="iminspectinit-introduction-picture" class="part-introduction-picture">
      <div style="background: url(images/pictures/Chalkboard_quicksort_1600.jpg) no-repeat center bottom; background-size: cover;"></div>
    </div>

    <div id="iminspectinit-introduction-text" class="part-introduction-text">
      <nav class="latest-posts">
        <span>Derniers Posts</span>
        <ul>
          {% for post in site.categories.inspect limit:4 %}
          <li><a href="{{ post.url }}">{{ post.title }}</a></li>
          {% endfor %}
        </ul>
        <div class="more"><a href="{{ '/categories/inspect.html' | prepend: site.baseurl }}">+</a></div>
      </nav>
      <h3>I'm inspectin' I.T.</h3>
      <h4>Analyse de code Open-Source</h4>
      <p>De la même manière qu'il est difficile de bien écrire sans lire souvent, on peut difficilement s'attendre à un code propre sans vraiment avoir été exposé à ce genre de code. Pourquoi ne pas profiter de la révolution Open Source pour s'immerger dans des projets de plus grande envergure et tenter d’apprendre à travers eux.</p>
      <div class="clearfix"></div>
    </div>
  </section>

  <footer>
    <img src="images/logo.png" />
    <span>Accéder à</span>
    <a href="{{ '/categories/read.html' | prepend: site.baseurl }}" class="go-to-read"><div><span class="shadow"></span><span class="icon"></span><span class="text">I'm readin' I.T.</span></div></a>
    <a href="{{ '/categories/watch.html' | prepend: site.baseurl }}" class="go-to-watch"><div><span class="shadow"></span><span class="icon"></span><span class="text">I'm watchin' I.T.</span></div></a>
    <a href="{{ '/categories/tell.html' | prepend: site.baseurl }}" class="go-to-tell"><div><span class="shadow"></span><span class="icon"></span><span class="text">I'm tellin' I.T.</span></div></a>
    <a href="{{ '/categories/inspect.html' | prepend: site.baseurl }}" class="go-to-inspect"><div><span class="shadow"></span><span class="icon"></span><span class="text">I'm inspectin' I.T.</span></div></a>
  </footer>

</article>
