<header id="main-header">
  <hr class="logos-strip" alt="Une liste de logos célèbres représentant des langages, des frameworks, des éditeurs, ...">
  <!--<img id="logo-main" src="{{ '/images/logo.png' | prepend: site.baseurl }}" />
  <span id="me-name">Julien Sobczak</span>-->
</header>
<nav id="main-menu" class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse"
              data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a id="brand" class="navbar-brand" href="#"><img src="{{ '/images/logo-medium.png' | prepend: site.baseurl }}" /></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse"
         id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active">
          <a href="{{ '/categories/read.html' | prepend: site.baseurl }}" id="read-menu-link">I'm <em>read</em>in' I.T.</a>
        </li>
        <li>
          <a href="{{ '/categories/watch.html' | prepend: site.baseurl }}" id="watch-menu-link">I'm <em>watch</em>in' I.T.</a>
        </li>
        <li>
          <a href="{{ '/categories/tell.html' | prepend: site.baseurl }}" id="tell-menu-link">I'm <em>tell</em>in' I.T.</a>
        </li>
        <li>
          <a href="{{ '/categories/inspect.html' | prepend: site.baseurl }}" id="inspect-menu-link">I'm <em>inspect</em>in' I.T.</a>
        </li>
      </ul>
      <form class="navbar-form navbar-right" role="search" method="GET" action="http://www.google.com/search">
        <div class="input-group add-on">
          <input type="text" class="form-control" name="q" placeholder="Rechercher">
          <input type="hidden" name="ie" value="UTF-8">
          <input type="hidden" name="oe" value="UTF-8">
          <input type="hidden" name="domains" value="imlovinit.fr">
          <input type="hidden" name="sitesearch" value="imlovinit.fr">
          <div class="input-group-btn">
            <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
          </div>
        </div>
      </form>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container-fluid -->
</nav>


<!--
 TODO remove this code if uncessary

<header class="site-header">

  <div class="wrapper">

    <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>

      <div class="trigger">
        {% for my_page in site.pages %}
          {% if my_page.title %}
          <a class="page-link" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
          {% endif %}
        {% endfor %}
      </div>

  </div>

</header>
-->