
<div id="labels" class="labels">
  <h2><span class="line"></span><a href="#" id="show-labels">Posts par <em>Libellés</em> <span class="more glyphicon glyphicon-chevron-down"></span></a></h2>
  <ul class="labels">

    <li>
      <div class="label">
        <span class="sunshine"></span><a href="{{ '/tags/agile.html' | prepend: site.baseurl }}"><span class="label-icon label-agile-icon label-white-icon"></span><span class="label-text">Agile<span class="label-count">{{ site.tags.agile | size }}</span></span></a>
      </div>
    </li>
    <li>
      <div class="label">
        <span class="sunshine"></span><a href="{{ '/tags/architecture.html' | prepend: site.baseurl }}"><span class="label-icon label-architecture-icon label-white-icon"></span><span class="label-text">Architecture<span class="label-count">{{ site.tags.architecture | size }}</span></span></a>
      </div>
    </li>
    <li>
      <div class="label">
        <span class="sunshine"></span><a href="{{ '/tags/big-data.html' | prepend: site.baseurl }}"><span class="label-icon label-big-data-icon label-white-icon"></span><span class="label-text">Big Data<span class="label-count">{{ site.tags.big-data | size }}</span></span></a>
      </div>
    </li>
    <li>
      <div class="label">
        <span class="sunshine"></span><a href="{{ '/tags/blog.html' | prepend: site.baseurl }}"><span class="label-icon label-blog-icon label-white-icon"></span><span class="label-text">Blog<span class="label-count">{{ site.tags.blog | size }}</span></span></a>
      </div>
    </li>
    <li>
      <div class="label">
        <span class="sunshine"></span><a href="{{ '/tags/build.html' | prepend: site.baseurl }}"><span class="label-icon label-build-icon label-white-icon"></span><span class="label-text">Build<span class="label-count">{{ site.tags.build | size }}</span></span></a>
      </div>
    </li>
    <li>
      <div class="label">
        <span class="sunshine"></span><a href="{{ '/tags/classics.html' | prepend: site.baseurl }}"><span class="label-icon label-classics-icon label-white-icon"></span><span class="label-text">Classics<span class="label-count">{{ site.tags.classics | size }}</span></span></a>
      </div>
    </li>
    <li>
      <div class="label">
        <span class="sunshine"></span><a href="{{ '/tags/clean-code.html' | prepend: site.baseurl }}"><span class="label-icon label-clean-code-icon label-white-icon"></span><span class="label-text">Clean Code<span class="label-count">{{ site.tags.clean-code | size }}</span></span></a>
      </div>
    </li>
    <li>
      <div class="label">
        <span class="sunshine"></span><a href="{{ '/tags/cloud.html' | prepend: site.baseurl }}"><span class="label-icon label-cloud-icon label-white-icon"></span><span class="label-text">Cloud<span class="label-count">{{ site.tags.cloud | size }}</span></span></a>
      </div>
    </li>
    <li>
      <div class="label">
        <span class="sunshine"></span><a href="{{ '/tags/computer-science.html' | prepend: site.baseurl }}"><span class="label-icon label-computer-science-icon label-white-icon"></span><span class="label-text">Computer Science<span class="label-count">{{ site.tags.computer-science | size }}</span></span></a>
      </div>
    </li>
    <li>
      <div class="label">
        <span class="sunshine"></span><a href="{{ '/tags/database.html' | prepend: site.baseurl }}"><span class="label-icon label-database-icon label-white-icon"></span><span class="label-text">Database<span class="label-count">{{ site.tags.database | size }}</span></span></a>
      </div>
    </li>
    <li>
      <div class="label">
        <span class="sunshine"></span><a href="{{ '/tags/ddd.html' | prepend: site.baseurl }}"><span class="label-icon label-ddd-icon label-white-icon"></span><span class="label-text">DDD<span class="label-count">{{ site.tags.ddd | size }}</span></span></a>
      </div>
    </li>
    <li>
      <div class="label">
        <span class="sunshine"></span><a href="{{ '/tags/delivery.html' | prepend: site.baseurl }}"><span class="label-icon label-delivery-icon label-white-icon"></span><span class="label-text">Delivery<span class="label-count">{{ site.tags.delivery | size }}</span></span></a>
      </div>
    </li>
    <li>
      <div class="label">
        <span class="sunshine"></span><a href="{{ '/tags/design.html' | prepend: site.baseurl }}"><span class="label-icon label-design-icon label-white-icon"></span><span class="label-text">Design<span class="label-count">{{ site.tags.design | size }}</span></span></a>
      </div>
    </li>
    <li>
      <div class="label">
        <span class="sunshine"></span><a href="{{ '/tags/design-patterns.html' | prepend: site.baseurl }}"><span class="label-icon label-design-patterns-icon label-white-icon"></span><span class="label-text">Design Patterns<span class="label-count">{{ site.tags.design-patterns | size }}</span></span></a>
      </div>
    </li>
    <li>
      <div class="label">
        <span class="sunshine"></span><a href="{{ '/tags/devops.html' | prepend: site.baseurl }}"><span class="label-icon label-devops-icon label-white-icon"></span><span class="label-text">Devops<span class="label-count">{{ site.tags.devops | size }}</span></span></a>
      </div>
    </li>
    <li>
      <div class="label">
        <span class="sunshine"></span><a href="{{ '/tags/essays.html' | prepend: site.baseurl }}"><span class="label-icon label-essays-icon label-white-icon"></span><span class="label-text">Essays<span class="label-count">{{ site.tags.essays | size }}</span></span></a>
      </div>
    </li>
    <li>
      <div class="label">
        <span class="sunshine"></span><a href="{{ '/tags/frameworks.html' | prepend: site.baseurl }}"><span class="label-icon label-frameworks-icon label-white-icon"></span><span class="label-text">Frameworks<span class="label-count">{{ site.tags.frameworks | size }}</span></span></a>
      </div>
    </li>
    <li>
      <div class="label">
        <span class="sunshine"></span><a href="{{ '/tags/gaming.html' | prepend: site.baseurl }}"><span class="label-icon label-gaming-icon label-white-icon"></span><span class="label-text">Gaming<span class="label-count">{{ site.tags.gaming | size }}</span></span></a>
      </div>
    </li>
    <li>
      <div class="label">
        <span class="sunshine"></span><a href="{{ '/tags/hiring.html' | prepend: site.baseurl }}"><span class="label-icon label-hiring-icon label-white-icon"></span><span class="label-text">Hiring<span class="label-count">{{ site.tags.hiring | size }}</span></span></a>
      </div>
    </li>
    <li>
      <div class="label">
        <span class="sunshine"></span><a href="{{ '/tags/html5.html' | prepend: site.baseurl }}"><span class="label-icon label-html5-icon label-white-icon"></span><span class="label-text">HTML5<span class="label-count">{{ site.tags.html5 | size }}</span></span></a>
      </div>
    </li>
    <li>
      <div class="label">
        <span class="sunshine"></span><a href="{{ '/tags/java.html' | prepend: site.baseurl }}"><span class="label-icon label-java-icon label-white-icon"></span><span class="label-text">Java<span class="label-count">{{ site.tags.java | size }}</span></span></a>
      </div>
    </li>
    <li>
      <div class="label">
        <span class="sunshine"></span><a href="{{ '/tags/javascript.html' | prepend: site.baseurl }}"><span class="label-icon label-javascript-icon label-white-icon"></span><span class="label-text">JavaScript<span class="label-count">{{ site.tags.javascript | size }}</span></span></a>
      </div>
    </li>
    <li>
      <div class="label">
        <span class="sunshine"></span><a href="{{ '/tags/kid-programming.html' | prepend: site.baseurl }}"><span class="label-icon label-kid-programming-icon label-white-icon"></span><span class="label-text">Kig Programming<span class="label-count">{{ site.tags.kid-programming | size }}</span></span></a>
      </div>
    </li>
    <li>
      <div class="label">
        <span class="sunshine"></span><a href="{{ '/tags/languages.html' | prepend: site.baseurl }}"><span class="label-icon label-languages-icon label-white-icon"></span><span class="label-text">Languages<span class="label-count">{{ site.tags.languages | size }}</span></span></a>
      </div>
    </li>
    <li>
      <div class="label">
        <span class="sunshine"></span><a href="{{ '/tags/learning.html' | prepend: site.baseurl }}"><span class="label-icon label-learning-icon label-white-icon"></span><span class="label-text">Learning<span class="label-count">{{ site.tags.learning | size }}</span></span></a>
      </div>
    </li>
    <li>
      <div class="label">
        <span class="sunshine"></span><a href="{{ '/tags/management.html' | prepend: site.baseurl }}"><span class="label-icon label-management-icon label-white-icon"></span><span class="label-text">Management<span class="label-count">{{ site.tags.management | size }}</span></span></a>
      </div>
    </li>
    <li>
      <div class="label">
        <span class="sunshine"></span><a href="{{ '/tags/mathematics.html' | prepend: site.baseurl }}"><span class="label-icon label-mathematics-icon label-white-icon"></span><span class="label-text">Mathematics<span class="label-count">{{ site.tags.mathematics | size }}</span></span></a>
      </div>
    </li>
    <li>
      <div class="label">
        <span class="sunshine"></span><a href="{{ '/tags/performance.html' | prepend: site.baseurl }}"><span class="label-icon label-performance-icon label-white-icon"></span><span class="label-text">Performance<span class="label-count">{{ site.tags.performance | size }}</span></span></a>
      </div>
    </li>
    <li>
      <div class="label">
        <span class="sunshine"></span><a href="{{ '/tags/php.html' | prepend: site.baseurl }}"><span class="label-icon label-php-icon label-white-icon"></span><span class="label-text">PHP<span class="label-count">{{ site.tags.php | size }}</span></span></a>
      </div>
    </li>
    <li>
      <div class="label">
        <span class="sunshine"></span><a href="{{ '/tags/popular.html' | prepend: site.baseurl }}"><span class="label-icon label-popular-icon label-white-icon"></span><span class="label-text">Popular<span class="label-count">{{ site.tags.popular | size }}</span></span></a>
      </div>
    </li>
    <li>
      <div class="label">
        <span class="sunshine"></span><a href="{{ '/tags/productivity.html' | prepend: site.baseurl }}"><span class="label-icon label-productivity-icon label-white-icon"></span><span class="label-text">Productivity<span class="label-count">{{ site.tags.productivity | size }}</span></span></a>
      </div>
    </li>
    <li>
      <div class="label">
        <span class="sunshine"></span><a href="{{ '/tags/public-speaking.html' | prepend: site.baseurl }}"><span class="label-icon label-public-speaking-icon label-white-icon"></span><span class="label-text">Public Speaking<span class="label-count">{{ site.tags.public-speaking | size }}</span></span></a>
      </div>
    </li>
    <li>
      <div class="label">
        <span class="sunshine"></span><a href="{{ '/tags/refactoring.html' | prepend: site.baseurl }}"><span class="label-icon label-refactoring-icon label-white-icon"></span><span class="label-text">Refactoring<span class="label-count">{{ site.tags.refactoring | size }}</span></span></a>
      </div>
    </li>
    <li>
      <div class="label">
        <span class="sunshine"></span><a href="{{ '/tags/security.html' | prepend: site.baseurl }}"><span class="label-icon label-security-icon label-white-icon"></span><span class="label-text">Security<span class="label-count">{{ site.tags.security | size }}</span></span></a>
      </div>
    </li>
    <li>
      <div class="label">
        <span class="sunshine"></span><a href="{{ '/tags/soa.html' | prepend: site.baseurl }}"><span class="label-icon label-soa-icon label-white-icon"></span><span class="label-text">SOA<span class="label-count">{{ site.tags.soa | size }}</span></span></a>
      </div>
    </li>
    <li>
      <div class="label">
        <span class="sunshine"></span><a href="{{ '/tags/team.html' | prepend: site.baseurl }}"><span class="label-icon label-team-icon label-white-icon"></span><span class="label-text">Team<span class="label-count">{{ site.tags.team | size }}</span></span></a>
      </div>
    </li>
    <li>
      <div class="label">
        <span class="sunshine"></span><a href="{{ '/tags/testing.html' | prepend: site.baseurl }}"><span class="label-icon label-testing-icon label-white-icon"></span><span class="label-text">Testing<span class="label-count">{{ site.tags.testing | size }}</span></span></a>
      </div>
    </li>
    <li>
      <div class="label">
        <span class="sunshine"></span><a href="{{ '/tags/tools.html' | prepend: site.baseurl }}"><span class="label-icon label-tools-icon label-white-icon"></span><span class="label-text">Tools<span class="label-count">{{ site.tags.tools | size }}</span></span></a>
      </div>
    </li>
    <li>
      <div class="label">
        <span class="sunshine"></span><a href="{{ '/tags/ux-design.html' | prepend: site.baseurl }}"><span class="label-icon label-ux-design-icon label-white-icon"></span><span class="label-text">UX Design<span class="label-count">{{ site.tags.ux-design | size }}</span></span></a>
      </div>
    </li>
    <li>
      <div class="label">
        <span class="sunshine"></span><a href="{{ '/tags/web.html' | prepend: site.baseurl }}"><span class="label-icon label-web-icon label-white-icon"></span><span class="label-text">Web<span class="label-count">{{ site.tags.web | size }}</span></span></a>
      </div>
    </li>
  </ul>
</div>