<!-- Reduce dependencies to minimal... -->
<script	src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script	src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
<script src="{{ '/js/lib/classie.js' | prepend: site.baseurl }}"></script>

<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.imagesloaded/4.1.0/imagesloaded.pkgd.min.js"></script>-->
<script src="{{ '/js/imagesloaded.pkgd-fix.js' | prepend: site.baseurl }}"></script>
<!-- TODO create Pull/Request -->

<script src="https://npmcdn.com/masonry-layout@4.0/dist/masonry.pkgd.min.js"></script>
<script src="{{ '/js/lib/scrollspy.js' | prepend: site.baseurl }}"></script>
<script src="{{ '/js/lib/jquery.easteregg.js' | prepend: site.baseurl }}"></script>


<!--<script src="scripts/app.min.js"></script> Replaced by: -->
<script src="{{ '/js/lib/AnimOnScroll.js' | prepend: site.baseurl }}"></script>
<script src="{{ '/js/lib/easteregg.js' | prepend: site.baseurl }}"></script>
<script src="{{ '/js/presentation.js' | prepend: site.baseurl }}"></script>
<script src="{{ '/js/loader.js' | prepend: site.baseurl }}"></script>
<script src="{{ '/js/list.js' | prepend: site.baseurl }}"></script>
<script src="{{ '/js/post.js' | prepend: site.baseurl }}"></script>
