/* Common */

// Fonts
$font-base:        'Roboto', sans-serif;
$font-manuscript:  'Indie Flower', cursive; 
$font-basic:       'Helvetica Neue', Helvetica, Arial, sans-serif;

// Colors
$color-base: rgba(65, 133, 244, 1);
$color-gray: rgba(76, 76, 76, 1); 
$gradient-base: linear-gradient(lighten($color-base, 10%) 0%, $color-base 30%, darken($color-base, 10%) 80%);
$gradient-gray: linear-gradient(rgba(38, 38, 38, 1) 0%, rgba(51, 51, 51, 1) 25%, rgba(41, 41, 41, 1) 75%, rgba(25, 25, 25, 1) 100%);


@mixin manuscript {
  font-family: $font-manuscript;
}




html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    //overflow-x: hidden; 
}


body {
  font-family: $font-base;
}


h2 {
  font-weight: 200;
  
  em {
    font-weight: 700;
    font-style: normal;
  }
}


.line {
  height: 4px;
  width: 100px;
  background-color: #fff;
  display: inline-block;
  margin-right: 25px;
  vertical-align: baseline;
}


.logos-strip {
  background-image: url(../images/logos-strip.png);
  display: block;
  width: 100%;
  height: 50px;
  border: 0; margin: 0;
}


@mixin icon-part {
  display: inline-block;
  background: url(../images/icons-sprite.png) no-repeat;
  width: 45px;
  height: 35px;
}

@mixin icon-read-white    { @include icon-part; background-position:   0      0;   }
@mixin icon-read-black    { @include icon-part; background-position: -45px    0;   }
@mixin icon-watch-white   { @include icon-part; background-position:   0    -35px; }
@mixin icon-watch-black   { @include icon-part; background-position: -45px  -35px; }
@mixin icon-tell-white    { @include icon-part; background-position:   0    -70px; }
@mixin icon-tell-black    { @include icon-part; background-position: -45px  -70px; }
@mixin icon-inspect-white { @include icon-part; background-position:   0   -105px; }
@mixin icon-inspect-black { @include icon-part; background-position: -45px -105px; }



/* Template */

#main-header {
  background: $gradient-base;
  height: 200px;
  box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.25);
  
  @media (max-width: $screen-xsmall-max) {
    // We will display the logo in the menu instead
  	display: none; 
  }
  
   
  #logo-main {
    display: block;
    margin: 0 auto;
    margin-top: 35px;
  }
  
  
  #me-name {
    @include manuscript;
    font-size: 175%;
    color: white;
    
    /* We want to display the name below the logo to the right */
    display: block;
    width: 496px; /* Same width as logo */
    margin: 0 auto;
    margin-top: 20px;
    text-align: right;
  }
  
}


#main-menu {
  margin-bottom: 0;
	background: $color-gray !important;
	border: none;
	border-radius: 0;
  
  
  .navbar-header { 
  	background: $color-base;
  	
  	
  	@media (max-width: $screen-xsmall-max) {
  		/* We increase the size of navbar to add space around logo and lower the menu expand button */
      height: 60px;
      
      
      .navbar-toggle {
        margin-top: 13px;
      }
    }
  	
  	
    .icon-bar {
    	background-color: white !important;
    }
  
    
    /* We override the background expand menu color */
    .navbar-toggle:hover, .navbar-toggle:focus {
      background-color: rgba(0,0,0,0.3);
      transition: background-color 0.5s;
    }
      
    
    a#brand {
    	color: white;
    	display: none;
    	
    	
    	@media (max-width: 767px) {
     		display: block;
    	}
    }
  } 
 
  
  .navbar-collapse {
  
    .navbar-nav a {
      font-family: $font-manuscript;
      color: white;
      font-size: 16px;
      background-color: transparent;
      background-position: 10px center;
      background-repeat: no-repeat;
      color: rgba(255,255,255,0.6);
      transition: all 2s;
      
      em {
        font-family: $font-base;
        font-style: normal;
        font-weight: 700;
        margin-right: 2px;
        color: white;
      }
      
      &:hover {
        background-color: rgba(0,0,0,0.8);
        transition: all 0.7s;
      }

    }


  
    #read-menu-link {
    	background-image: url(../images/read-icon.png);
    	padding-left: 55px;
    }
    #watch-menu-link {
    	background-image: url(../images/watch-icon.png);
    	padding-left: 65px;
    }
    #tell-menu-link {
    	background-image: url(../images/tell-icon.png);
    	padding-left: 85px;
    }
    #inspect-menu-link {
    	background-image: url(../images/inspect-icon.png);
    	padding-left: 55px;
    }
    
    form {
      border: none;
    }
    
  
    @media (max-width: $screen-xsmall-max) {
  	
    
      /* We hide category images and simplify fonts */
      .navbar-nav li {
        padding: 15px 5px;
      }
      .navbar-nav li a {
        background-image: none !important;
        padding: 0;
        padding-left: 35px !important;
        font-size: 20px;
      }
    }
  
  }
}







           
