---
layout: default
---

<div id="blog-content">

  <article class="post-read" itemscope='itemscope' itemtype='http://schema.org/Review'>

    <meta itemprop="author" content="Julien Sobczak" />
    <meta itemprop="datePublished" content="{{ page.date | date: '%Y-%m-%d' }}" />

    <h1 itemprop="name">{{ page.title }}</h1>
    <h2>{{ page.read_authors }}</h2>

    <header>
      <div class="preview">
        {% if page.image %}
          <img src="{{ page.image }}" width="150" class="book-cover" />
        {% endif %}
        <select class="form-control">
          <option value="">Go to...</option>
          {% if page.link_amazon %}
            <option value="{{ page.link_amazon }}">Amazon.com</option>
          {% endif %}
          {% if page.link_goodreads %}
            <option value="{{ page.link_goodreads }}">Goodreads.com</option>
          {% endif %}
          {% if page.link_document %}
            <option value="{{ page.link_document }}">Original Document</option>
          {% endif %}
        </select>
      </div>

      <div class="headline" itemprop="description" >
        {{ page.read_headline }}
      </div>

      <div class="evaluations" itemprop="reviewRating" itemscope='itemscope' itemtype="http://schema.org/Rating">
        <span class="note-{{ page.read_note }}-20"></span>
        <span class="roti-{{ page.read_roti }}"></span>
        <span class="time-{{ page.read_time }}"></span>
        <meta itemprop="worstRating" content="1"  />
        <meta itemprop="ratingValue" content="{{ page.read_note }}" />
        <meta itemprop="bestRating"  content="20" />
      </div>

      <div class="clearfix"></div>
    </header>

    <section class="informations" itemprop="itemReviewed" itemscope='itemscope' itemtype='http://schema.org/Book'>

      <meta itemprop="name" content="{{ page.title }}" />
      <meta itemprop="image" content="{{page.image }}" />

      <h4><span class="line"></span>General</h4>

      {% if page.read_date_published %}
      <label>Publication date</label>
      <span itemprop="datePublished" content="{{ page.read_date_published | date: '%Y-%m-%d' }}">
        {{ page.read_date_published | date_to_string }}
      </span>
      {% endif %}

      {% if page.read_authors %}
      <label>Author(s)</label>
      <span itemprop="author">{{ page.read_authors }}</span>
      {% endif %}

      {% if page.read_publisher %}
      <label>Publisher</label>
      <span itemprop="publisher">{{ page.read_publisher }}</span>
      {% endif %}

      {% if page.read_book_format %}
      <label>Format</label>
      <span itemprop="bookFormat">{{ page.read_book_format }}</span>
      {% endif %}

      {% if page.read_isbn %}
      <label>IBSN</label>
      <span itemprop="isbn">{{ page.read_isbn }}</span>
      {% endif %}

      {% if page.read_number_of_pages %}
      <label>Number of pages</label>
      <span><span itemprop="numberOfPages">{{ page.read_number_of_pages }}</span> pages</span>
      {% endif %}

    </section>

    <section class="post-labels">
      <h4><span class="line"></span>Tags</h4>
      <ul class="labels">
        {% for tag in page.tags %}
        <li>
          <a href="{{ '/tags/' | append: tag | prepend: site.baseurl }}">
            <div class="label">
              <span class="label-icon label-{{ tag }}-icon label-black-icon"></span>
              <span class="label-text label-black-text">{{ tag }}</span>
              <span class="eclipse"></span>
            </div>
          </a>
        </li>
        {% endfor %}
      </ul>
    </section>

    <section class="comment" itemprop="reviewBody">
      <h4><span class="line"></span>Review</h4>

      {{ content }}

    </section>

  </article>

</div>
